BACKEND_PORT=3000
MONGODB_URI=mongodb://localhost:27017/linkchecker  # Замени на продакшен-URL, если нужно
TWOCAPTCHA_API_KEY=your-2captcha-api-key
FRONTEND_DOMAIN=localhost  # Замени на твой домен для продакшена
FRONTEND_PORT=3001  # Оставляем 3001 для локального теста, на сервере можно 80
VITE_FRONTEND_DOMAIN=localhost
VITE_BACKEND_DOMAIN=localhost
VITE_BACKEND_PORT=3000
JWT_SECRET=your-super-secret-key-12345