@tailwind base;
@tailwind components;
@tailwind utilities;

.will-change-height {
  will-change: height;
}
body {
  overscroll-behavior: none;
}
.error-message {
  @apply bg-red-100 p-3 rounded-lg border border-red-200;
}
.google-sheet-fields {
  padding: 0 1.5px;
}